body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: papayawhip;
  color: black;
}

p {
	color: #0000AA;
  color: rgb(255, 0, 0);
  color: rgba(0, 0, 0, 0.5);
}