* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
}

header {
	width: 50%;
}

h1 {
	border: 2px dashed red;
	width: 100%; /* default for a block element */
	width: 50%;
	font-size: 3rem;
	padding: 0.5em;
}

main {
	background-color: skyblue;
	font-size: 2rem;
}

p {
	font-size: 16px; /* this is the default for many browser - NOT RECOMMENDED */
	font-size: 1rem; /* this is the default - REM = root element */
	font-size: 2rem; 
	width: 30ch;
}